/* corporate */
$primary: #9d3fe7;
$gradient: 159.13deg, #9d3fe7 -24.13%, #602093 132.21%;

/* grayscale */
$white: #fff;
$light-grey: #f5f3f7;
$space-light: #e5e0eb;
$space: #d9d1e0;
$disabled: #d4d2d5;
$border: #aba7af;
$hint-text: #4b3a5a;
$black: #1a141f;

/* semantics */
$error: #d51a52;
$attention: #ff9500;
$approval: #00b998;
$link: #0f0bab;
