@use "sass:map";

$corner-radius: (
	"small": (
		"prefix": "s",
		"value": 4px,
	),
	"medium": (
		"prefix": "m",
		"value": 8px,
	),
	"large": (
		"prefix": "l",
		"value": 12px,
	),
	"extra large": (
		"prefix": "xl",
		"value": 24px,
	),
);

@each $size, $properties in $corner-radius {
	.border-radius-#{map.get($properties, "prefix")} {
		border-radius: map-get($properties, "value");
	}
}

$shadow: (
	"extra-small": (
		"prefix": "xs",
		"value": 0px 15px 10px 0px rgba(211, 192, 214, 0.07),
	),
	"small": (
		"prefix": "s",
		"value": 0px 8px 16px 0px rgba(62, 19, 77, 0.07),
	),
	"medium": (
		"prefix": "m",
		"value": 0px 15px 30px 0px rgba(62, 19, 77, 0.09),
	),
	"large": (
		"prefix": "l",
		"value": 0px 10px 30px 0px rgba(62, 19, 77, 0.47),
	),
);

@each $size, $properties in $shadow {
	.shadow-#{map.get($properties, "prefix")} {
		box-shadow: map-get($properties, "value");
	}
}
